<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
<title>Google Think Digital</title>
<style>
*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}
</style>
</head>
<body>
<a href="//www.google.com/">
<img alt="Google" src="//www.google.com/images/errors/logo_sm.gif">
</a>
<p>
<b>Actualización de la web</b>
<ins>Volveremos a estar on-line lo antes posible</ins>
</p>
<p>
disculpar las molestias
<ins></ins>
</p>
</body>
</html>